<%= form_with(model: todo_list) do |form| %>
  <div class="form-container">
    <%= render_errors(todo_list) %>

    <div class="form-field-container">
      <%= form.label "Título:", class: 'form-label' %>
      <%= form.text_field :title, class: 'form-textfield' %>
    </div>

    <div class="form-radio-container">
      <%= form.label "Cor:", class: 'form-label' %>
      <div class="color-options">
        <% ['#5E93E3', '#E35E5E', '#5EE393', '#E37ACC', '#EDCE7E', '#8D91F4'].each_with_index do |color, index| %>
          <div class="color-option-container">
            <%= form.radio_button :color, color, class: 'color-option', id: "color-option-#{index + 1}" %>
            <label for="color-option-#{index + 1}" class="color-label-container">
              <div class="color-label" style="background-color: <%= color %>;"></div>
            </label>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-checkbox-container">
      <%= form.label "Finalizada:", class: 'form-label' %>
      <%= form.check_box :done, class: 'form-checkbox' %>
    </div>

    <div class="form-actions-container">
      <%= form.submit "Salvar", class: "button" %>
    </div>
  </div>
<% end %>
