<li class="list-item-li">
  <div class="list-item-info-container">
    <div class='list-item-title-container'>
      <div>
        <%= button_to [@todo_list, list_item], method: :patch, params: { list_item: { done: !list_item.done } }, remote: true, class: "unchecked-button" do%>
          <%= list_item.done ? raw('<i class="fa fa-solid fa-check dark-icon"></i>') : 'X' %>
        <% end %>
      </div>
      <span class='<%= list_item.done ? "checked-list-item-title" : "list-item-title" %>'><%= list_item.title %></span>
    </div>
    <div class="list-item-details">
      <% if list_item.due_date %>
        <div class="list-item-date-container">
          <i class="fa fa-solid fa-calendar gray-icon"></i>
          <span class="list-item-date"><%= list_item.due_date.strftime('%d/%m/%Y') %></span>
        </div>
      <% end %>
      <% if list_item.due_date && list_item.priority %>
        <div class="vertical-divider"></div>
      <% end %>
      <span class="<%= list_item.priority %>-priority-tag">
        <%= priority_emoji(list_item.priority)%>
      </span>
    </div>
  </div>
  <div class="list-item-options">
    <div>
      <%= link_to edit_todo_list_list_item_path(@todo_list, list_item) do%>
        <button class="text-button">
          <i class="fa fa-solid fa-pencil"></i>
        </button>
      <% end %>
    </div>
    <div>
      <%= form_with url: [@todo_list, list_item], method: :delete do %>
        <button class="text-button">
          <i class="fa fa-solid fa-trash"></i>
        </button>
      <% end %>
    </div>
  </div>
</li>