<header class="todo-lists-header">
  <h1>Listas To Do</h1>

  <%= link_to new_todo_list_path do %>
    <button class="button">
        <i class="fa fa-plus dark-icon"></i>
        Adicionar Lista
    </button>
  <% end %>
</header>

<div>
  <h2>Listas Em Andamento<h2>
  <ul class="todo-list-ul">
    <% @todo_lists.each do |todo_list| %>
      <% if !todo_list.done %>
        <li class="todo-list-li">
            <div class='todo-list-title-container'>
              <div class="todo-list-color" style="background: <%= todo_list.color %>;"></div>
              <div class="todo-list-link-container"><%= link_to todo_list.title, todo_list, class: 'link todo-list-link' %></div>
            </div>
            <div class="todo-list-options">
              <div><%= link_to 'Edit', edit_todo_list_path(todo_list), class: 'link' %></div>
              <div>
                <%= form_with url: todo_list, method: :delete do %>
                  <button class="text-button">
                    <i class="fa fa-solid fa-trash"></i>
                  </button>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div>
  <h2>Listas Finalizadas<h2>
  <ul class="todo-list-ul">
    <% @todo_lists.each do |todo_list| %>
      <% if todo_list.done %>
        <li class="todo-list-li">
            <div class='todo-list-title-container'>
              <div class="todo-list-color" style="background: <%= todo_list.color %>;"></div>
              <div class="todo-list-link-container"><%= link_to todo_list.title, todo_list, class: 'link todo-list-link' %></div>
            </div>
            <div class="todo-list-options">
              <div><%= link_to 'Edit', edit_todo_list_path(todo_list), class: 'link' %></div>
              <div>
                <%= form_with url: todo_list, method: :delete do %>
                  <button class="text-button">
                    <i class="fa fa-solid fa-trash"></i>
                  </button>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>


