<div id="<%= dom_id list_item %>">
  <p>
    <strong>Title:</strong>
    <%= list_item.title %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= list_item.priority %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= list_item.due_date %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= list_item.done %>
  </p>

  <p>
    <strong>Todo:</strong>
    <%= list_item.todo_id %>
  </p>

</div>
