<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list_item.title %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @list_item.priority %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @list_item.due_date %>
</p>

<p>
  <strong>Done:</strong>
  <%= @list_item.done %>
</p>

<%= link_to 'Edit', edit_todo_list_list_item_path(@todo_list, @list_item) %> |
<%= link_to 'Back', todo_list_list_items_path(@todo_list) %> 
